.landing {
    background-color: #413356;
    height: 100vh;
    width: 100vw;
    max-width: 550px;
    margin: auto;
    text-align: center;
}

.menuButtonFooter {

}


.menuButton {
    background-color: #584B6B;
    width: 275px;
    height: 5vh;
}