.tripLink {
    width: auto;
    min-height: 100px;
    text-align: left;
    padding: 5px;
    background-color: #584B6B;
    margin: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
    color: #e2d6ff;
    padding: 5px;
}

h2 {
    font-size: 20px;
    color: #e2d6ff;
    padding: 5px;
    margin: 0px;
}

p {
    color: #e2d6ff;
    margin: 5px;
}

.tripList {
    list-style-type: none;
    /*padding-inline-start: 20px;*/
    padding: 0px 20px;
}

.tripImage {
    width: 100px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.addImage {
    width: 10%;
    margin: 20px;
}


input {
    width: 300px;
}